@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif;
}
